h1 {
    text-align: center;
}

button {
    margin: 20px;
    padding: 10px 20px;
    font-size: 1.2rem;
    background-color: #1976d2;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.graph-buttons {
    display: flex;
    justify-content: center;
    gap: 10px;
}