<h1>בחר גרף להצגה</h1>
<div class="graph-header-row" dir="rtl">
  <div class="graph-buttons">
      <button (click)="showGraph('vertical-bar')">גרף עמודות כמותי</button>
      <button (click)="showGraph('bar')">גרף עמודות</button>
      <button (click)="showGraph('pie-bar')">גרף עוגה</button>
      <button (click)="showGraph('line-graph')">גרף עקומה</button>
      <div class="flex-row">
      <div class="graph-selector-box" *ngIf="currentGraph == 'pie-bar' || currentGraph == 'line-graph'">
        <select id="fieldSelector" [(ngModel)]="selectedField" class="graph-select apartment-table-select">
          <option *ngFor="let field of fields" [value]="field">{{ getFieldLabel(field) }}</option>
        </select>
          <option value="" disabled selected hidden>בחר מאפיין לסינון</option>
        </div>
        <ng-container *ngIf="currentGraph === 'line-graph'">
          <div class="graph-selector-box">
            <select id="ySelector" [(ngModel)]="selectedY" class="graph-select apartment-table-select">
              <option value="" disabled hidden>בחר נתון מספרי</option>
              <option *ngFor="let field of fields" [value]="field">{{ getFieldLabel(field) }}</option>
            </select>
          </div>
        </ng-container>
        </div>
    </div>
</div>

<app-vertical-bar *ngIf="currentGraph === 'vertical-bar'"></app-vertical-bar>
<app-bar *ngIf="currentGraph === 'bar'"></app-bar>
<app-pie-bar *ngIf="currentGraph === 'pie-bar'" [selectedField]="selectedField"></app-pie-bar>
<ng-container *ngIf="selectedY && currentGraph === 'line-graph'">
  <app-line-graph [selectedX]="selectedField" [selectedY]="selectedY"></app-line-graph>
</ng-container>
