h1 {
    text-align: center;
}

button {
    margin: 10px;
    padding: 10px 20px;
    font-size: 1.2rem;
    background: rgb(98 6 212 / 20%);
    border: 2px solid #b293f9;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    width: 200px;
}

.graph-buttons {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin: auto;
    width: fit-content;
}

.apartment-table-select {
    padding: 8px 12px;
    border-radius: 6px;
    border: 1px solid #ccc;
    font-size: 1rem;
    background: #f8f8f8;
    margin: 0 8px 16px 0;
    min-width: 160px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.04);
}

.graph-selector-box {
    width: 200px;
}

.flex-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
}